body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;   
    margin: 10vw;
    color: rgba(0, 0, 0, 0.705);
}

.header {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
}