body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(250, 249, 247);
    margin: auto;
    color: rgba(0, 0, 0, 0.705);
    padding: 5%;
    
}


.header {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
    
}

.footer {
    margin-top: 10vh;
    display: flex;
    margin-bottom: 3vh;
}
.container-1 {
    max-width: 750px;
    margin: auto;
}

.nav {
    max-width: 850px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 50%;
}

.nav-item {
    display: inline;
    margin: 0 10px;
    font-size: 1.5em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.705);
    text-decoration: none;
    transition: color 0.3s;

}


        
        